body {
    margin: 10px auto;
    min-width: 250px;
    max-width: 50%;
    background-color:rgb(55, 124, 133);
  }
  * {
    box-sizing: border-box;
  }
  .header {
    width:100%;
    height:100%;
    background-color:black;
    color: white;
    text-align: center;
    font-size:10px;
  }
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    border:2px solid black;
  }
  #myFile{
    margin-left:70px;
  }
 .title{
  margin-left:70px;
 }
  .banner{
    margin-left:70px;
    padding:2px;
    width:75%;
    border:2px solid #15d82f;
  }
  .bts2{
    width: 50%;
    margin: auto;
    display:flex;
    justify-content: center;
    margin: bottom 40PX;
  }
  .blogpost{
    width:50%;
    height:40%;
    border:2p-x solid blue;
    background-color:red;
  }
  .bts{
    width: 50%;
    font-weight: bold;
    font-size:large;
    font-family: "Times New Roman";
    margin:40PX;
    background-color: rgb(211, 208, 8);
   
  }
  .bts:hover{
    background-color:green;
    color: black;
  }

  .blogItem {
    width:100%;
    height:100%;
    margin: auto,10px;
    padding:40px;
    text-align: center;
    color: white;
    font-size:30PX;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    border:2px solid black;
    background-color:rgb(109, 69, 24);
  }
  .editBtn:hover{
    background-color:green;
  }
  
  .deleteBtn:hover{
    background-color:red;
  }

  .blogImage {
    height: 20rem;
    width: 20rem;
  }


  
 
  
 